# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Visual Studio temp files
*.sdf
*.suo
*.tlog
*.log
*.obj
*.idb
*.lastbuildstate
*.ilk
*.opensdf
*.db
*.opendb
*.user
*.iobj
*.ipdb

#Visual Studio binary files
*.exe
*.dll
*.lib
*.exp
*.pdb

#Merge bakup files
*.bak

#Build directories
build/
